<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2 mt-1 px-3">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, eius.
    </div>
    <div class="col-sm-6 col-md-8 px-5">
      <app-home-form></app-home-form>
    </div>
    <div class="col-sm-3 col-md-2 mt-1 px-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </div>
  </div> 
  <div class="row mt-5">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <app-musicians-list></app-musicians-list>
    </div>
    <div class="col-md-1">

    </div>
  </div>
</div>