<!-- list -->
<div class="container mt-2">
    <a class="row align-items-center text-dark text-decoration-none border" 
            *ngFor="let message of messages" (click)="onClick()">
        <div class="col-sm-3 px-1 py-2">
            <div *ngIf="imgPath; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
                <img src="{{ message.authorImgFilename }}" alt="Zdjęcie profilowe"
                    class="img-fluid mx-auto d-block mx-md-0"
                    style="max-height: 400px;">
            </ng-template>
            <ng-template #elseBlock>
                <img src="default.png" alt="Zdjęcie profilowe"
                    class="img-fluid mx-auto d-block mx-md-0"
                    style="max-height: 400px;">
            </ng-template>
        </div>
        <div class="col-sm-9 m-2">
            <div class="row text-strong">
                {{ message.authorEmail }}
            </div>
            <div class="row mt-1">
                {{ message.content }}
            </div>            
        </div>
    </a>
</div>

<!-- Paginator -->
<mat-paginator
    (page)="getMeetings($event)"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="[3, 5, 10]"
    showFirstLastButtons>
</mat-paginator>