<!-- List -->
<div class="container mt-4" [hidden]="!meetings">
    <div class="row align-items-center text-dark border" *ngFor="let meeting of meetings">
        <div class="row">
            <div class="col-sm-2 px-1 py-2">
                <div *ngIf="imgPath; then thenBlock; else elseBlock"></div>
                <ng-template #thenBlock>
                    <img src="{{ guestImgFilename }}" alt="Zdjęcie profilowe"
                        class="img-fluid mx-auto d-block mx-md-0"
                        style="max-height: 300px;" *ngIf="isHost">
                    <img src="{{ hostImgFilename }}" alt="Zdjęcie profilowe"
                        class="img-fluid mx-auto d-block mx-md-0"
                        style="max-height: 300px;" *ngIf="isGuest">
                </ng-template>
                <ng-template #elseBlock>
                    <img src="default.png" alt="Zdjęcie profilowe"
                        class="img-fluid mx-auto d-block mx-md-0"
                        style="max-height: 300px;">
                </ng-template>
            </div>
            <div class="col-sm-10 ml-3 pt-2">
                <div class="row mt-2" *ngIf="isHost">
                    <p class="fw-light">{{ meeting.guestName }}</p>
                </div>  
                <div class="row mt-2" *ngIf="isGuest">
                    <p class="fw-light">{{ meeting.hostName }}</p>
                </div>  
                <div class="row mt-2">
                    <p class="fw-light">{{ meeting.startTime | myDate }}</p>
                </div>               
                <div class="row mt-2">
                    <p class="fw-light">{{ meeting.endTime | myDate }}</p>
                </div> 
            </div>
        </div>
        <div class="row">
            <span class="m-1">
                {{ meeting.notes }}
            </span>            
        </div>
    </div>        
</div>

<!-- Paginator -->
<mat-paginator
    *ngIf="meetings"
    (page)="getMeetings($event)"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="[3, 5, 10]"
    showFirstLastButtons>
</mat-paginator>