<div class="text-center" [hidden]="musicians">Loading musicians...</div>

<!-- Filtering/sorting -->
<div class="container" [hidden]="!musicians || musicianId">
    <p class="d-flex justify-content-center">
        <button class="btn btn-secondary px-5" type="button" (click)="isCollapsed = !isCollapsed" 
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseFilterSort">
            Filtruj/sortuj
        </button>
    </p>
    <div id="collapseFilterSort" [ngbCollapse]="isCollapsed">
        <div class="container card card-body bg-light form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <span class="text-center fs-3">Filtruj</span>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 d-flex justify-content-center">
                                <div class="btn-group-vertical w-100 p-2" role="group" aria-label="Choose musician type filter/sort button group">
                                    <input type="radio" class="btn-check" formControlName="musicianTypeRadio" id="type1" value="0">
                                    <label class="btn btn-outline-secondary" for="type1">Nauczyciel</label>
                                  
                                    <input type="radio" class="btn-check" formControlName="musicianTypeRadio" id="type2" value="1">
                                    <label class="btn btn-outline-secondary" for="type2">Do wspólnej gry</label>
                                  
                                    <input type="radio" class="btn-check" formControlName="musicianTypeRadio" id="type3" value="2">
                                    <label class="btn btn-outline-secondary" for="type3">Muzyk sesyjny</label>
                                </div>
                            </div>                            
                            <div class="col-md-6 d-flex justify-content-center">
                                <div class="form-group w-100 p-2">
                                    <label for="instrumentsList" class="fs-5">Instrument</label>
                                    <select class="form-control mt-1" id="instrumentsList" formControlName="instrumentsList">
                                        <option></option>
                                        <option *ngFor="let instrument of options">{{ instrument.name }}</option> 
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <div class="row text-center">
                                    <span>Cena za godzinę</span>
                                </div>
                                <div class="row mt-1">
                                    <div class="col form-group d-flex justify-content-center align-items-center form-inline">
                                        <label class="fs-5" for="min">Od</label>
                                        <input class="form-control mx-2" type="number" id="min" formControlName="min">
                                        <label class="fs-5" for="max">Do</label>
                                        <input class="form-control mx-2" type="number" id="max" formControlName="max">
                                    </div>
                                </div>
                            </div>    
                            <div class="col-md-6">
                                <div class="row text-center">
                                    <span>Średnia ocen</span>
                                </div>
                                <div class="row mt-1">
                                    <div class="col form-group d-flex justify-content-center align-items-center form-inline">
                                        <label class="fs-5" for="avg">Od</label>
                                        <input class="form-control mx-2" type="number" id="avg" formControlName="avg">
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="row my-2 invalid" *ngIf="
                                (form.get('min').invalid && 
                                    (form.get('min').dirty || form.get('min').touched)) || 
                                (form.get('max').invalid && 
                                    (form.get('max').dirty || form.get('max').touched)) ||
                                (form.get('avg').invalid && 
                                    (form.get('avg').dirty || form.get('avg').touched))">
                            <div *ngIf="form.get('min').errors?.min || form.get('max').errors?.min">
                                Wartość nie może być ujemna
                            </div>
                            <div *ngIf="form.get('min').errors?.max || form.get('max').errors?.max">
                                Wartość może wynosić maksymalnie 1000
                            </div>
                            <div *ngIf="form.get('avg').errors?.min">
                                Wartość nie może być ujemna
                            </div>
                            <div *ngIf="form.get('avg').errors?.max">
                                Wartość może wynosić maksymalnie 5
                            </div>
                        </div>
                        <div class="row alert alert-danger my-2" 
                            *ngIf="form.invalid && form.errors && form.errors?.isMinMaxInvalid">
                            Wartość "od" musi być mniejsza od wartości "do"
                        </div>
                    </div>
                <div class="col-md-3">
                    <div class="row">
                        <span class="text-center fs-3">Sortuj</span>
                    </div>
                    <div class="row mt-3 mx-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="sortRadio" id="sort1" value="0">
                            <label class="form-check-label" for="sort1">Ocena: malejąco</label>
                        </div>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" formControlName="sortRadio" id="sort2" value="1">
                            <label class="form-check-label" for="sort2">Ocena: rosnąco</label>
                        </div>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" formControlName="sortRadio" id="sort3" value="2">
                            <label class="form-check-label" for="sort3">Cena: rosnąco</label>
                        </div>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" formControlName="sortRadio" id="sort4" value="3">
                            <label class="form-check-label" for="sort4">Cena: malejąco</label>
                        </div>
                        <div class="form-check mt-1">
                            <input class="form-check-input" type="radio" formControlName="sortRadio" id="sort5" value="4">
                            <label class="form-check-label" for="sort5">Alfabetycznie</label>
                        </div>
                    </div>
                    <div class="form-group commands mt-3 d-flex justify-content-center">
                        <button type="submit" (click)="onSubmit()"
                            class="btn btn-outline-secondary px-5"
                            [disabled]="form.invalid">Zastosuj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- List -->
<div class="container mt-4" [hidden]="!musicians">
    <a class="row align-items-center text-dark text-decoration-none border" *ngFor="let musician of musicians" 
        [routerLink]="['/Musician', musician.id]" [hidden]="musician.id == musicianId">
        <div class="col-md-2">
            <div *ngIf="musician.profilePicFilename; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
                <img src="{{ musician.profilePicFilename }}" alt="Zdjęcie profilowe"
                    class="img-fluid mx-auto d-block mx-md-0"
                    style="max-height: 300px;">
            </ng-template>
            <ng-template #elseBlock>
                <img src="default.png" alt="Zdjęcie profilowe"
                    class="img-fluid mx-auto d-block mx-md-0"
                    style="max-height: 300px;">
            </ng-template>
        </div>
        <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
            <p class="fs-2 mx-2">{{ musician.name }}</p>
        </div>
        <div class="col-md-4 fw-light fs-4">
            <div class="row my-2 text-center">
                <div class="col">
                    <span *ngFor="let instrument of musician.instruments; let i=index">
                        {{ instrument }}<span 
                            *ngIf="i < musician.instruments.length - 1">&#44; </span>
                    </span>
                </div>
            </div>
            <div class="row my-2 text-center">
                <div class="col">{{ musician.price }} zł/h</div>
                <div class="col" *ngIf="musician.avgScore > 0; else elseB">
                    {{ musician.avgScore | number:"1.2" }}</div>
                <ng-template #elseB>
                    No reviews
                </ng-template>
            </div>
        </div>
    </a>        
</div>

<!-- Paginator -->
<mat-paginator
    [hidden]="!musicians"
    (page)="getElements($event)"
    [pageSize]="defaultPageSize"
    [pageSizeOptions]="[3, 5, 10]"
    showFirstLastButtons>
</mat-paginator>