@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdź adres email";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    W produkcyjnej wersji aplikacji to zostałoby wysłane poprzez email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknij tutaj, aby potwierdzić</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
