<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item" ngbDropdown>
        <a class="nav-link" href="#" id="navbarDropdown" role="button" (click)="isCollapsed = !isCollapsed" 
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseMenu" title="Manage">Witaj {{ userName | async }}</a>
        <ul id="collapseMenu" [ngbCollapse]="isCollapsed">
          <li><a class="dropdown-item" [routerLink]='["/authentication/profile"]' ngbDropdownItem>Action</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Wyloguj się</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow" *ngIf="!(isAuthenticated | async)">
    <li
      class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLink]='["/authentication/login"]'
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="btn btn-outline-light">Zaloguj się</a>
    </li>
    <li
      class="nav-item"
      [routerLinkActive]="['link-active']"      
      [routerLink]='["/authentication/register"]'
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="btn btn-outline-light">Zarejestruj się</a>
    </li>
  </ul>